#heading{
	color: green;

}
.something{
	color:blue;
}

h4 + ul{
	
	color:pink;
}

#labelforcheckbox{
	color: red;
}

input:unchecked {
  border:3px solid #F00;

}
input:checked {
  margin-left: 50px;
}


