/*border color: #bdc3c7
date color #3498db
h2 #2c3e50

font source sans pro */

body{
	border: 20px solid #bdc3c7;

	padding: 20px;

	max-width : 700px;

	width:80%;

	margin: 20px auto;

font-family: source sans pro;
}
h2{
	color: #2c3e50 ;
	font-size: 2.0rem;
}


.quote {
	border-left: 5px solid #bdc3c7;
	padding-left: 8px;
}

.date{
	color:#3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	word-spacing: 4px;
}

hr { 
    display: block;
   margin: 20px auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 