img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
p{
	font-size: 40px;
	font-family: "Baloo Bhaina";
	margin-left: 1.66%
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 3px solid 	rgb(255,69,0);
	width: 30%
}