p{
	font-family: Arial;
}
body{
	font-size: 16px;
}
h1{
	font-family: Ranga, cursive; 

}
p{
	font-size: 1em;
}
span{
	font-weight: bold;
}
p{
	line-height: 1.5;
}
p{
	text-decoration: underline;
	text-decoration-color: red;
}
h1{
	text-decoration-color: red;
}