body {
  background-color: #232323;
  margin: 0;
  font-family: "Vardana";
  text-transform: uppercase;
}
.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 10%;
  transition: background 0.3s;
  --webkit-transition: background 0.3s;
  --moz-transition: background 0.3s;
}

h1{
  line-height: 1.1;
  color: white;
  text-align: center;
  font-weight: normal;
  margin: 0;
  background: steelblue;
}


#stripe {
  background: white;
  height: 30px;
  text-align: center;
color: black;
}


#colorDisplay {
  font-size: 200%;
}
button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%
  font-weight:700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;

}
#clickMessage{
  display:inline-block;
  width: 20%;
}
.selected {
  color:white;
  background: steelblue;
  height: 100%;
  }

  button:hover {
  color:white;
  background: steelblue;
  height: 100%;
}

.container {
    margin: 20px auto;
    max-width: 600px;

}
