body{
  background: url(https://static.pexels.com/photos/37337/cat-silhouette-cats-silhouette-cat-s-eyes.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
font-family: Lato;
}

#content{
text-align: center;
padding-top: 25%;
text-shadow:  0px 4px 3px rgba(0,0,0,0.4),
              0px 8px 13px rgba(0,0,0,0.1),
              0px 18px 23px rgba(0,0,0,0.1);
}
html{
  height: 100%
}

h1{
  color:#e68a00  ;
  font-weight: 700;
font-size: 5em;
}
h3{
    color: #e68a00;
}
hr{
  width: 400%;
  border-top: 1px solid #e68a00;
  border-bottom: 2px solid rgba(0,0,0,0.5);
}
